@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.78rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

a {
  display: flex;
  place-items: center;
  place-content: center;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
  width: 120%;
  height: 120%;
}

.profile-pic {
  overflow: hidden;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
}

.text-muted {
  color: #7d8da1;
}

.danger {
  color: #ff7782;
}

.warning {
  color: #ffbb55;
}

.success {
  color: #41f1b6;
}

.primary {
  color: #7380ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: #f6f6f9;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-x: hidden;
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}
body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
}

.overflow-scroll {
  overflow-x: scroll;
}
.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.logo {
  display: flex;
  place-items: center;
  margin-top: 0.35rem;
  overflow: hidden;
  gap: 10px;
  width: 100%;
}
.logo img {
  width: 1.8rem;
}
.logo h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
.logo .close-btn {
  display: none;
  position: relative;
  cursor: pointer;
  color: #363949;
  transition: color 0.2s;
  border-radius: 50%;
  font-size: 1.5rem;
}
.logo .close-btn:hover {
  color: #ff7782;
}

.aside-chips {
  display: flex;
  place-items: center;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 0.8rem 0rem 0.8rem 1.3rem;
  width: 100%;
  gap: 10px;
}
.aside-chips::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #7380ec;
  transform: translateX(-105%);
  transition: all 0.3s;
  width: 3%;
  height: 100%;
}
.aside-chips:hover {
  color: #7380ec;
  background: #dce1eb;
  transform: translateX(0.2rem);
}
.aside-chips:hover::after {
  transform: translateX(0%);
}
.aside-chips h3 {
  font-weight: 600;
  white-space: nowrap;
}
.aside-chips p {
  font-size: 10px;
  padding: 0.03rem 0.3rem;
  color: #fff;
  background: #ff7782;
  border-radius: 0.4rem;
}

#logout {
  margin-top: 3rem;
}
#logout:hover {
  color: #ff7782;
}
#logout::after {
  background: #ff7782;
}

.dashboard-input {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}
.dashboard-input input {
  border: none;
  outline: none;
  background: #dce1eb;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.25s;
  margin-top: 0.4rem;
  padding-block: 0.25rem;
  padding-inline: 0.8rem;
}
.dashboard-input input:hover {
  box-shadow: 0px 1px 3.5px #677493;
}

.thememode-pc, .thememode-mobile {
  display: flex;
  place-items: flex-start;
}
.thememode-pc .theme, .thememode-mobile .theme {
  display: flex;
  margin-right: 1.5rem;
}
.thememode-pc .theme label, .thememode-mobile .theme label {
  display: flex;
  place-items: center;
  place-content: space-between;
  box-shadow: inset 0 2rem 3rem rgba(132, 139, 200, 0.18);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  background: #7380ec;
  transition: 0.25s;
  overflow: hidden;
  width: 40px;
  height: 20px;
}
.thememode-pc .theme label::before, .thememode-mobile .theme label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  border-radius: 50%;
  background: #dce1eb;
  transition: 0.25s;
  margin-left: 2%;
  margin-right: 3%;
  width: 50%;
  height: 90%;
}
.thememode-pc .theme .moon, .thememode-mobile .theme .moon,
.thememode-pc .theme .sun,
.thememode-mobile .theme .sun {
  width: 15px;
  padding: none;
  margin: none;
  animation: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.thememode-pc .theme .moon:hover, .thememode-mobile .theme .moon:hover,
.thememode-pc .theme .sun:hover,
.thememode-mobile .theme .sun:hover {
  box-shadow: none;
}
.thememode-pc .theme .moon, .thememode-mobile .theme .moon {
  left: 2px;
  transform: translate(0, -50%);
}
.thememode-pc .theme .sun, .thememode-mobile .theme .sun {
  right: 2px;
}
.thememode-pc .theme input[type=checkbox], .thememode-mobile .theme input[type=checkbox] {
  display: none;
}
.thememode-pc .theme input[type=checkbox]:checked + label, .thememode-mobile .theme input[type=checkbox]:checked + label {
  background-color: #111e88;
}
.thememode-pc .theme input[type=checkbox]:checked + label::before, .thememode-mobile .theme input[type=checkbox]:checked + label::before {
  transform: translate(100%, -50%);
}
.thememode-pc p, .thememode-mobile p {
  text-align: right;
  line-height: 1.1rem;
  font-size: 0.8rem;
  margin-right: 0.7rem;
}
.thememode-pc p b, .thememode-mobile p b {
  color: #363949;
  font-weight: 800;
}
.thememode-pc img, .thememode-mobile img {
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.25s;
  width: 2.8rem;
}
.thememode-pc img:hover, .thememode-mobile img:hover {
  box-shadow: 0px 0px 0.1rem 0.12rem #111e88;
  animation: bounce-top 1s linear 0s 1 normal none;
}
@keyframes bounce-top {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  55% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(-7px);
  }
  75% {
    transform: translateY(0);
  }
  82% {
    transform: translateY(-4px);
  }
  87% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

.thememode-mobile {
  display: flex;
  place-items: center;
  place-content: center;
}
.thememode-mobile .theme {
  margin-right: 0.8rem;
}
.thememode-mobile p {
  display: none;
}

.insight-card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  gap: 1rem;
  width: 31%;
  padding: 1.2rem 1.8rem;
}
.insight-card:hover {
  box-shadow: none;
}
.insight-card a {
  font-size: 1.5rem;
  color: #fff;
  border-radius: 1.2rem;
  padding: 0.5rem;
}
.insight-card .sales-icon {
  background-color: #7380ec;
}
.insight-card .expenses-icon {
  background: #ff7782;
}
.insight-card .income-icon {
  background: #41f1b6;
}
.insight-card .col2 {
  display: flex;
  place-items: center;
  place-content: space-between;
  width: 100%;
}
.insight-card .col2 h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.3rem;
  white-space: nowrap;
}
.insight-card .col2 h3 b {
  font-size: 1.6rem;
  font-weight: 700;
}
.insight-card .col2 .progress {
  position: relative;
  overflow: hidden;
  width: 4.3rem;
  height: 4.3rem;
}
.insight-card .col2 .progress p {
  font-size: 0.8rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 0;
}
.insight-card .col2 .progress svg {
  display: flex;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 100%;
}
.insight-card .col2 .progress svg circle {
  fill: none;
  stroke: #7380ec;
  stroke-width: 0.38rem;
  stroke-linecap: round;
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}
.insight-card .col2 .progress svg .sales {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}
.insight-card .col2 .progress svg .expenses {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}
.insight-card .col2 .progress svg .income {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

.recent-orders {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  padding-left: 2rem;
  padding-right: 1rem;
  width: 100%;
}
.recent-orders:hover {
  box-shadow: none;
}
.recent-orders table {
  border-radius: 2rem;
  text-align: center;
  font-size: 0.8rem;
  border-collapse: collapse;
  min-width: 100%;
  max-width: 100%;
  padding-block: 1rem;
}
.recent-orders table th {
  padding-top: 2rem;
  padding-bottom: 0.3rem;
}
.recent-orders table td {
  border-top: 0.09rem solid #dce1eb;
  padding-block: 0.9rem;
}
.recent-orders table .no-border-top {
  border: none;
}
.recent-orders table .padding-bottom {
  padding-bottom: 1.5rem;
}

.recent-updates {
  display: flex;
  place-items: flex-start;
  place-content: center;
  width: 100%;
  gap: 0.6rem;
}
.recent-updates h5 {
  font-weight: 700;
  word-wrap: break-word;
  line-height: 1.1rem;
  width: 75%;
}
.recent-updates h5 span {
  font-weight: 400;
  margin-left: 0.22rem;
}
.recent-updates h5 small {
  font-weight: 400;
  font-size: 0.7rem;
}

.sales-analytics {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  border-radius: 1.2rem;
  box-shadow: 0 0 2rem 0.15rem rgba(132, 139, 200, 0.18);
  transition: 0.25s;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.2rem;
}
.sales-analytics:hover {
  box-shadow: none;
}
.sales-analytics a {
  background: #7380ec;
  border-radius: 1.2rem;
  color: #fff;
  padding: 0.55rem;
}
.sales-analytics small {
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.sales-analytics h5 {
  text-transform: uppercase;
}
.sales-analytics h5 span {
  font-weight: 400;
  text-transform: capitalize;
}
.sales-analytics .online-icon {
  background-color: #7380ec;
}
.sales-analytics .offline-icon {
  background: #ff7782;
}
.sales-analytics .new-customer-icon {
  background: #41f1b6;
}

.new-product {
  display: flex;
  place-items: center;
  place-content: center;
  border: 0.1rem dashed #111e88;
  border-radius: 1.2rem;
  color: #111e88;
  box-shadow: 0 0 2rem 0.15rem rgba(132, 139, 200, 0.18);
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  height: 3.8rem;
  gap: 0.5rem;
}
.new-product:hover {
  box-shadow: none;
}

#Page {
  display: flex;
  place-items: flex-start;
  width: 98%;
  margin-inline: auto;
}

#Aside {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  position: sticky;
  background: #f6f6f9;
  top: 0;
  left: 0;
  width: 13%;
}
#Aside .aside-chips-container {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  width: 100%;
  margin-top: 2rem;
}
#Aside .aside-chips-container .none {
  color: red;
}

#Rightside {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  margin-left: 15px;
  width: 87%;
}
#Rightside .topnav {
  display: flex;
  place-items: center;
  place-content: space-between;
  width: 100%;
  padding-top: 0.7rem;
}
#Rightside .topnav a {
  font-size: 2rem;
}
#Rightside .topnav a::after {
  background: #dce1eb;
  width: 0;
  height: 0;
}
#Rightside .topnav a:hover::after {
  width: 120%;
  height: 120%;
}
#Rightside .container {
  display: flex;
  width: 100%;
  gap: 1rem;
}
#Rightside .dashboard {
  width: 73%;
}
#Rightside .dashboard .dashboard-insight {
  display: flex;
  place-items: center;
  place-content: space-between;
  width: 100%;
}
#Rightside .dashboard .recent-orders-container {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-block: 3rem;
  width: 100%;
}
#Rightside .dashboard .recent-orders-container h2 {
  margin-bottom: 1rem;
  font-weight: 700;
}
#Rightside .dashboard .recent-orders-container .overflow-x {
  box-shadow: 0 0 2rem 0.15rem rgba(132, 139, 200, 0.18);
  border-radius: 2rem;
  overflow-x: scroll;
  transition: 0.25s;
}
#Rightside .dashboard .recent-orders-container .overflow-x:hover {
  box-shadow: none;
}
#Rightside .dashboard .recent-orders-container .overflow-x::-webkit-scrollbar {
  display: none;
}
#Rightside .dashboard .recent-orders-container small {
  place-self: center;
  cursor: pointer;
  color: #7380ec;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
#Rightside .dashboard .recent-orders-container small:hover {
  text-decoration: underline;
}
#Rightside .recents {
  width: 27%;
}
#Rightside .recents h2,
#Rightside .recents h3 {
  font-size: 1.2rem;
}
#Rightside .recents .card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0 0 2rem 0.15rem rgba(132, 139, 200, 0.18);
  transition: 0.25s;
  padding: 1.5rem;
  margin-top: 1rem;
  width: 100%;
  gap: 0.9rem;
}
#Rightside .recents .card:hover {
  box-shadow: none;
}
#Rightside .recents h3 {
  margin-top: 2rem;
}
#Rightside .recents .sales-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}

@media screen and (width <= 1180px) {
  #Aside {
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 0.4rem #dce1eb;
    width: 25%;
    height: 100vh;
  }
  #Aside::-webkit-scrollbar {
    display: none;
  }
  #Aside .recents {
    width: 100%;
  }
  #Rightside {
    width: 100%;
  }
  #Rightside .dashboard {
    width: 100%;
  }
  #Rightside .container {
    flex-direction: column;
  }
  #Rightside .recents {
    display: flex;
    place-items: flex-start;
    margin-bottom: 3rem;
    gap: 3.5rem;
    width: 100%;
  }
  #Rightside .recents .child1 {
    width: 50%;
  }
  #Rightside .recents .child1 .card {
    gap: 1.9rem;
  }
  #Rightside .recents .child2 {
    width: 50%;
  }
  #Rightside .recents .child2 h3 {
    margin-top: 0;
  }
}
@media screen and (width <= 769px) {
  .logo .close-btn {
    display: block;
  }
  #Aside {
    position: absolute;
    background: #f6f6f9;
    z-index: 10;
    width: 25%;
  }
  #Aside .aside-chips-container {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }
  #Aside .aside-chips-container .none {
    color: red;
  }
  #Right-side {
    width: 100%;
  }
  #Right-side .dashboard {
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (width <= 600px) {
  #Aside {
    display: block;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 3;
    height: 100vh;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 45%;
  }
  .topnav {
    box-shadow: 0 0 0.3rem 0.5rem rgba(54, 57, 73, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    background: #f6f6f9;
    z-index: 1;
    padding-block: 0.5rem;
  }
  #Page {
    width: 100%;
  }
  #Page .dashboard-input {
    padding-top: 1rem;
    padding-left: 0.9rem;
  }
  #Page .dashboard-input h1 {
    font-size: 2rem;
  }
  #Page .dashboard-input input {
    padding-block: 0.5rem;
    padding-inline: 2rem;
  }
  #Page .topnav a {
    margin-left: 0.9rem;
  }
  .insight-card {
    box-shadow: 0px 0px 0.5rem 0.04rem rgba(54, 57, 73, 0.2);
    width: 88%;
    padding-bottom: 2rem;
  }
  #Rightside {
    margin-left: 0;
  }
  #Rightside .dashboard .recent-orders-container {
    padding-inline: 1rem;
  }
  #Rightside .dashboard .dashboard-insight {
    flex-direction: column;
    margin-top: 3rem;
    gap: 2.5rem;
  }
  #Rightside .dashboard .recent-orders {
    width: 650px;
  }
  #Rightside .recents {
    flex-direction: column;
    margin-bottom: 3rem;
    padding-inline: 1rem;
  }
  #Rightside .recents .child1,
  #Rightside .recents .child2 {
    width: 100%;
  }
  .recent-orders-container h2 {
    margin-left: 0.9rem;
  }
}
@media screen and (width <= 330px) {
  #Aside {
    width: 55%;
  }
}/*# sourceMappingURL=index.css.map */